{% extends 'webapp/base.html' %}

{% block content %}

<div class="well page">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="pull-left" style="margin-left: 16px">Learn &amp; Teach</h1>
        </div>
        <br/>
    </div>

    <div class="grid">
        <div class="learnblocks">
            <img style="width: 82vh;height: 35vh;" src="/static/img/learn/glucose.png">
        </div>
        <div class="learnblocks">
            <img style="width: 82vh;height: 30vh;" src="/static/img/learn/activity.png">
        </div>
        <div class="learnblocks">
            <img style="width: 40vh;height: 68vh;" src="/static/img/learn/candies.png">
        </div>
    </div>

</div>

{% endblock %}