      <div class="c1-item c1-item3-container">
        <div class="c1-item3">
          <h6>Recommended Activity Now</h6>
          <div class="data-item3">
            <div class="data1-item3">Exercise</div>
            <div class="data2-item3">Eat</div>
            <div class="data3-item3">
              <span class="item3-1">Low</span>
              <span class="item3-2">GI</span>
              <span class="item3-3">10-40</span>
            </div>
            <div class="data4-item3">Insulin</div>
            <div class="data5-item3">Rest</div>
          </div>
          <div class="p-item3">
            <p class="p1-item3">COOK</p>
            <p class="p2-item3">EAT OUT</p>
          </div>
        </div>
      </div>
