{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<h3 class="title">xCandy Account Activation</h3>

<div class="wrapper-content wrapper">
  <section class="content activation is-invalid">
    <article class="content-primary" role="main">
    </article>

    <div class="notice notice-incontext notice-instruction has-actions">
      <div class="msg">
        <h4 class="title">Account link sent!</h4>
        <div class="copy">
          <p>The account link has been sent to your email. Please check your email and follow the instructions.</p>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

{% endblock %}