{% extends 'webapp/base.html' %}

{% block content %}

<div class="well page">

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content-dbmf"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-5 px-2 mb-3">
            <div class="card" style="margin: 0 auto;">
                <div class="card-body">
                    <h5>
                        Correlation Graphs ({{ frame.source | safe }})
                    </h5>

                    <div id="correlation">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- You can alternatively load the minified version -->
<script src="/static/js/jquery.bootstrap.modal.forms.min.js"></script>
<script src="/static/js/main.js"></script>

<script type="text/javascript">


</script>

{% endblock %}



