{% extends 'webapp/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}

<div class="well page">

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content-dbmf"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-5 px-2 mb-3">
            <div class="card" style="margin: 0 auto;">
                <div class="card-body">
                    <h5>
                        Dataset ({{ frame.source | safe }})
                    </h5>

                    {{ frame.info | safe }}

                    <br/>
                    <button type="button" class="js-frame-head btn btn-md btn-primary" data-url="{% url 'frame_view' frame.source 'Dataset Glimpse' %}">
                        <span>Glimpse</span>
                    </button>
                    <button type="button" class="js-frame-statistics btn btn-md btn-primary" data-url="{% url 'frame_view' frame.source 'Dataset Statistics' %}">
                        <span>Statistics</span>
                    </button>
                    <button type="button" class="js-frame-correlation btn btn-md btn-primary" data-url="{% url 'correlation_form' frame.source 'Define Correlation Inputs' %}">
                        <span>Correlation</span>
                    </button>
                    <button type="button" class="js-frame-heatmap btn btn-md btn-primary" data-url="{% url 'heatmap_form' frame.source 'Define Heatmap Inputs' %}">
                        <span>Heatmap</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-frame" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        {% include 'webapp/da/includes/modal_frame.html' %}
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'webapp/js/main.js' %}"></script>

{% endblock %}


