{% extends 'webapp/base.html' %}

{% block content %}

<div class="well page">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="pull-left" style="margin-left: 16px">EDA: Exploratory Data Analysis</h1>
        </div>
        <br/>

        <div class="col-lg-12">
            <blockquote style="margin-left: 16px; font-style: normal">
                <p>Exploratory Data Analysis (aka EDA) is the place for exploring and analyzing the data that R&amp;D researchers come across in their vertical research. This comes in very handy when you have multiple variables in your data. Example such as heatmaps can reveal general pattern in the dataset, instantly with a visual representation.</p>

                <p>The goal of this platform is to empower our R&amp;D researchers and analysts to get insights into the overwhelming research problems with less time and effort so they can focus on their respective core research area.</p>

                <p>For more information and details you can read about this process at <a href="#" target="_blank">here</a>.</p>
            </blockquote>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card" style="width: 50%; margin: 0 auto;border: none;">
            <div class="card-body" style="width: 50%; margin: 0 auto;">
                <p class="card-text"><a class="btn btn-primary" href="{% url 'import' %}">Begin Exploration</a></p>
            </div>
        </div>
    </div>

</div>

{% endblock %}