{% extends 'webapp/base.html' %}

{% block content %}

<div class="well page">

    <div class="grid">
        <div class="card">
            <img class="cardtile" src="/static/img/home/home_livedata.png"/>
        </div>
        <div class="card">
            <img class="cardtile" src="/static/img/home/home_forecast.png"/>
        </div>
        <div class="card">
            <img class="cardtile" src="/static/img/home/home_recoacty.png"/>
        </div>
        <div class="card">
            <img class="cardtile" src="/static/img/home/home_avggluc.png"/>
        </div>
        <div class="card">
            <img class="cardtile" src="/static/img/home/home_fcastaccy.png"/>
        </div>
        <div class="card">
            <img class="cardtile" src="/static/img/home/home_activitylog.png"/>
        </div>
    </div>

</div>

{% endblock %}