<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/favi/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="apple-touch-icon" sizes="57x57" href="static/img/favi/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/img/favi/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/favi/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/favi/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/favi/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/img/favi/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/img/favi/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/img/favi/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/favi/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/img/favi/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/img/favi/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favi/favicon-16x16.png">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>xCandy | Eat right, control sugar!</title>

</head>
<body>

  <!-- Main Container -->
  <div class="container-main">

    <!-- Banner -->
    <div class="container-banner">
      <div class="wrapper-banner">
        <div class="logo-container">
          <div class="logo"><img src="{% static 'img/xcandylogo_b.png' %}" alt="">
            <p><a class="mhome" href="/home">xCandy.ai</a></p>
          </div>
          <div class="container-login-top-mobile">
            <a href="#">Sign in</a>
            <a href="#">Download</a>
          </div>
        </div>



        <h1>Be in control of your diabetes by eating right</h1>
        <p>xCandy is an Artificial Intelligent Engine that learns sugar level pattern though a fun and interactive
          platform from the user. It teaches the user to eat the right food to prevent high or low blood suger events.
          Studies show that eating right and healthy can potentially reverse diabetes.</p>
        <div class="img-container-banner"></div>
      </div>
    </div>
    <!-- Banner -->

    <!-- Login -->
    <div class="container-login">
      <div class="wrapper-login">

        <div class="container-login-top">
          <a href="#">Sign in</a>
          <a href="#">Download</a>
        </div>
        <form action="">
          <h4>Sign up</h4>
          <p>or <a href="#"> sign in to your account</a></p>
          <input type="text" name="" id="input" placeholder="First Name">
          <input type="text" name="" id="input" placeholder="Last Name">
          <input type="email" name="" id="input" placeholder="Email">
          <input type="password" name="" id="input" placeholder="Password">
          <p>This page is subject to <a href="#">xCandy Privacy Policy</a> and <a href="#">Terms of Service</a></p>

          <p><input type="checkbox" name="" id="tnc" checked>I agree to <a href="#">xCandy Terms</a></p>
          <button type="button" value="" onclick="alert('Enter details first')">Sign up</button>
        </form>
      </div>
    </div>
    <!-- Login -->

  </div>
  <!-- Main Container -->

</body>
</html>