{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/help/help.css' %}">

  <div class="container-main">
    <!-- FAQ -->
    <div class="faq">
      <div class='title'>FAQ's</div>
      <br>

      <div class="content">
        <div>
          <input type="checkbox" id="question1" name="q" class="questions">
          <div class="plus">+</div>
          <label for="question1" class="question">
            This is the question that will be asked?
          </label>
          <div class="answers">
            What if the answer is really long and wraps the whole page and you never want to finish it but you have to
            because its the answer!
          </div>
        </div>

        <div>
          <input type="checkbox" id="question2" name="q" class="questions">
          <div class="plus">+</div>
          <label for="question2" class="question">
            Short?
          </label>
          <div class="answers">
            short!
          </div>
        </div>

        <div>
          <input type="checkbox" id="question3" name="q" class="questions">
          <div class="plus">+</div>
          <label for="question3" class="question">
            But what if the question is really long and wraps the whole page and you feel like you will never finish
            reading
            the question?
          </label>
          <div class="answers">
            This is the answer!
          </div>
        </div>
      </div>
    </div>

    <div class='title'>Contact us</div>
    <div class="contact-us">
      <form action="">
        <div class="items-1">
          <div class="items items-1-1">
            <label for="">Name</label>
            <input type="text" placeholder="Full Name">
          </div>
          <div class="items items1-2">
            <label for="">Email</label>
            <input type="email" placeholder="john@applause.com">
          </div>
        </div>
        <br>
        <div class="items items-2">
          <label for="">Message</label>
          <input type="text" placeholder="What are your thoughts?">
          <button class="button"><a href="">Send</a></button>
        </div>
      </form>
    </div>

    <!-- FAQ end -->

    <!-- Contact us -->


    <!-- Contact end -->
  </div>

{% endblock %}