{% extends 'webapp/base.html' %}

{% block content %}

<div class="well page">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="pull-left" style="margin-left: 16px">Help Yourself!</h1>
        </div>
        <br/>
    </div>

    <div class="col-lg-12">
        <ul>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
            <li><a href="#">lorum semm lorum prepas lorum semm lorum prepas lorum semm lorum prepas lorum prepas lorum semm lorum prepas</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="pull-left" style="margin-left: 16px">Ask Us!</h1>
        </div>
        <br/>
    </div>

    <div class="col-lg-12">
    </div>
</div>

{% endblock %}